@import url('https://fonts.googleapis.com/css?family=Roboto');
.btn {
    position: relative;
    background: inherit;
    border-radius: 10px;
    border: 3px solid #fefefe;
    margin: 20px;
    width: 260px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

header .backgrounds {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient( 0% 50% 0deg, rgba(34, 181, 115, 1) 13.68%, rgba(34, 180, 122, 1) 27.08%, rgba(36, 179, 140, 1) 45.98%, rgba(37, 176, 170, 1) 68.14%, rgba(40, 172, 212, 1) 92.61%, rgba(41, 171, 226, 1) 100%);
    background: -webkit-linear-gradient( 0deg, rgba(34, 181, 115, 1) 13.68%, rgba(34, 180, 122, 1) 27.08%, rgba(36, 179, 140, 1) 45.98%, rgba(37, 176, 170, 1) 68.14%, rgba(40, 172, 212, 1) 92.61%, rgba(41, 171, 226, 1) 100%);
    background: -webkit-gradient( linear, 0% 50%, 100% 50%, color-stop(0.1368, rgba(34, 181, 115, 1)), color-stop(0.2708, rgba(34, 180, 122, 1)), color-stop(0.4598, rgba(36, 179, 140, 1)), color-stop(0.6814, rgba(37, 176, 170, 1)), color-stop(0.9261, rgba(40, 172, 212, 1)), color-stop(1, rgba(41, 171, 226, 1)));
    background: -o-linear-gradient( 0deg, rgba(34, 181, 115, 1) 13.68%, rgba(34, 180, 122, 1) 27.08%, rgba(36, 179, 140, 1) 45.98%, rgba(37, 176, 170, 1) 68.14%, rgba(40, 172, 212, 1) 92.61%, rgba(41, 171, 226, 1) 100%);
    background: -ms-linear-gradient( 0deg, rgba(34, 181, 115, 1) 13.68%, rgba(34, 180, 122, 1) 27.08%, rgba(36, 179, 140, 1) 45.98%, rgba(37, 176, 170, 1) 68.14%, rgba(40, 172, 212, 1) 92.61%, rgba(41, 171, 226, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#22B573', endColorstr='#29ABE2' ,GradientType=0)";
    background: linear-gradient( 90deg, rgba(34, 181, 115, 1) 13.68%, rgba(34, 180, 122, 1) 27.08%, rgba(36, 179, 140, 1) 45.98%, rgba(37, 176, 170, 1) 68.14%, rgba(40, 172, 212, 1) 92.61%, rgba(41, 171, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#22B573", endColorstr="#29ABE2", GradientType=1);
}

header .topMenu {
    background: inherit;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
}

header .topMenu>div {
    display: block;
    float: left;
    margin: 20px;
    height: 50px;
}

header .topMenu .logo {
    background: url("../imgs/logo-track.png") no-repeat;
    width: 130px;
}

header .topMenu .menuIcon {
    float: right;
    font-size: 49px;
    color: #fefefe;
}

header .inner-H {
    position: absolute;
    top: 200px;
    left: calc(50% - 300px);
    width: 600px;
    height: 300px;
    text-align: center;
    cursor: default;
}

header .inner-H h1 {
    font-size: 45px;
    font-weight: bolder;
    color: #ffffff;
}

header .inner-H h1:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: whitesmoke;
    margin: 20px auto;
}

header .inner-H p {
    text-transform: uppercase;
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    color: #fefefe
}

header .inner-H .btn.btn-H i {
    transition: opacity .3s ease-in-out .1s;
    position: absolute;
    top: 8px;
    left: 210px;
    font-size: 30px;
    margin: 0 10px;
    opacity: 0;
}

@keyframes toRight {
    0% {
        left: 90px;
    }
    100% {
        left: 210px;
    }
}

header .inner-H .btn.btn-H:hover i {
    opacity: 1;
    animation: toRight .3s ease-in-out;
}

main {
    display: grid;
    font-size: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
}

main section {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

main section:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main section:nth-child(1):after {
    background-color: #8d82c4;
}

main section:nth-child(2):after {
    background-color: #6fc3df;
}

main section:nth-child(3):after {
    background-color: #e7b788;
}

main section:nth-child(4):after {
    background-color: #ec8d81;
}

main section:nth-child(5):after {
    background-color: #87c5a4;
}

main section:nth-child(6):after {
    background-color: #8ea9e8;
}

.inner-S {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fefefe;
    pointer-events: none;
}

.inner-S p {
    font-size: 14px;
    margin: 10px;
}

.inner-S .grup-text {
    position: relative;
    top: 70px;
    left: 20px;
    width: 210px;
    float: left;
    pointer-events: none;
}

.inner-S .icon {
    position: relative;
    left: 90%;
    width: 40px;
    height: calc(100% - 34px);
    text-align: center;
    font-size: 40px;
    padding: 0 10px;
}

.waves {
    position: absolute;
    background: rgba(250, 250, 250, .7);
    border-radius: 50%;
    z-index: 1;
    transform: scale(0);
    transition: opacity 1s ease-in-out;
    animation: ripple .6s linear;
    opacity: 1;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 50px;
    align-self: center;
    align-content: center;
    background: #333333;
    padding-top: 40px;
    cursor: default;
}

footer .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px;
    width: 90%;
    margin: 0 auto;
}

footer .top .sotioal-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px;
    align-self: center;
    align-content: center;
}

footer .top .sotioal-icons .icon {
    color: #808080;
    background: #4d4d4d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

footer .top .sotioal-icons .icon i {
    margin-top: 12px;
    font-size: 35px;
}

footer .top .logo {
    align-self: center;
    align-content: center;
    text-align: center;
}

footer .top .logo h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    color: #fefefe;
}

footer .top .search {
    align-self: center;
    align-content: center;
}

footer .top .search .searchInput {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 20px;
}

footer .top .search .searchInput input {
    background: #4d4d4d;
    color: #808080;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 60px;
}

footer .top .search .searchInput i {
    color: #808080;
    position: absolute;
    top: 0;
    left: calc(100% - 50px);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

footer .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
    width: 80%;
    margin: 0 auto;
    align-self: center;
    align-content: center;
}

footer .contact article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    text-align: center;
    color: #808080;
}

footer .contact article i {
    font-size: 32px;
}

footer .contact article h3 {
    margin: 0;
    font-size: 30px;
    color: #fefefe;
}

footer .contact article p, footer .contact article p a {
    margin: 0;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

footer .copyright {
    font-size: 16px;
    text-align: center;
    align-self: center;
    align-content: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:650px) and (max-width:900px) {
    header .topMenu {
        height: 70px;
    }
    header .topMenu>div {
        margin: 10px;
        height: 40px;
    }
    header .topMenu .logo {
        background-size: contain;
    }
    header .topMenu .menuIcon {
        font-size: 39px;
    }
    header .inner-H {
        top: 200px;
        left: calc(50% - 300px);
        width: 600px;
        height: 250px;
    }
    header .inner-H h1 {
        font-size: 35px;
        font-weight: bold;
    }
    header .inner-H h1:after {
        width: 550px;
        height: 3px;
        margin: 8px auto;
    }
    header .inner-H p {
        font-size: 12px;
        width: 450px;
        margin: 5px auto;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
    footer .top .sotioal-icons {
        grid-template-rows: 50px;
    }
    footer .top .sotioal-icons .icon {
        width: 45px;
        height: 45px;
    }
    footer .top .sotioal-icons .icon i {
        margin-top: 13px;
        font-size: 20px;
    }
    footer .top .logo h1 {
        font-size: 40px;
    }
    footer .top .search .searchInput {
        height: 40px;
    }
    footer .top .search .searchInput input {
        font-size: 16px;
    }
    footer .top .search .searchInput i {
        font-size: 25px;
        padding: 7.5px;
    }
    footer .contact article i {
        font-size: 28px;
    }
    footer .contact article h3 {
        font-size: 20px;
    }
    footer .contact article p, footer .contact article p a {
        font-size: 12px;
    }
    footer .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width:650px) {
    .btn {
        border: 2px solid #fefefe;
        margin: 15px;
        width: 200px;
        height: 40px;
    }
    header {
        height: 100%;
    }
    header .topMenu {
        height: 60px;
    }
    header .topMenu>div {
        margin: 10px;
        height: 40px;
    }
    header .topMenu .logo {
        background-size: contain;
    }
    header .topMenu .menuIcon {
        font-size: 39px;
    }
    header .inner-H {
        position: absolute;
        top: calc(80% - 200px);
        left: calc(50% - 150px);
        width: 300px;
        height: 200px;
        text-align: center;
        cursor: default;
    }
    header .inner-H h1 {
        font-size: 30px;
        font-weight: bold;
    }
    header .inner-H h1:after {
        height: 2px;
        margin: 10px auto;
    }
    header .inner-H p {
        font-size: 9px;
        width: 100%;
        margin: 0 auto;
    }
    header .inner-H .btn.btn-H i {
        top: 4px;
        left: 150px;
    }
    @keyframes toRight {
        0% {
            left: 60px;
        }
        100% {
            left: 150px;
        }
    }
    main {
        display: grid;
        font-size: 16px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 100vh);
    }
    .inner-S .grup-text {
        top: calc(50% - 100px);
        left: 0;
        width: 100%;
        text-align: center;
    }
    .inner-S .icon {
        display: none;
    }
    footer {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 150px 50px;
        align-content:stretch;
        padding:0;
    }
    footer .top {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 40px);
        grid-row-gap: 20px;
        align-content: center;
    }
    footer .top .sotioal-icons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px;
    }
    footer .top .sotioal-icons .icon {
        width: 50px;
        height: 50px;
    }
    footer .top .sotioal-icons .icon i {
        font-size: 25px;
    }
    footer .top .logo h1 {
        text-transform: uppercase;
        font-size: 40px;
        margin: 0;
        color: #fefefe;
    }
    footer .top .search {
        align-self: center;
        align-content: center;
    }
    footer .top .search .searchInput {
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 20px;
    }
    footer .top .search .searchInput input {
        background: #4d4d4d;
        color: #808080;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 60px;
    }
    footer .top .search .searchInput i {
        color: #808080;
        position: absolute;
        top: 0;
        left: calc(100% - 50px);
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
    }
    footer .contact {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 120px;
        width: 80%;
        margin: 0 auto;
        align-self: center;
        align-content: center;
    }
    footer .contact article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
        text-align: center;
        color: #808080;
    }
    footer .contact article i {
        font-size: 32px;
    }
    footer .contact article h3 {
        margin: 0;
        font-size: 30px;
        color: #fefefe;
    }
    footer .contact article p, footer .contact article p a {
        margin: 0;
        font-size: 14px;
        color: #999999;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    footer .copyright {
        font-size: 16px;
        text-align: center;
        align-self: center;
        align-content: center;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
}